.class-rect {
  border: 1px;
  fill: white;
  stroke-width: 1px;
  stroke: black;
}

.class-label {
  font-size: x-small;
  font-weight: bold;
  stroke: none;
  fill: black;
}

div.settings {
  position: absolute;
  text-align: left;
  padding: 4px;
  font: 14px sans-serif;
  background: rgba(176, 196, 222, 0.9);
  border: 0;
  box-shadow: 4px 4px 14px 1px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
}

div.help-container {
  position: absolute;
  text-align: left;
  padding: 4px;
  font: 14px sans-serif;
  background: rgba(176, 196, 222, 0.9);
  border: 0;
  box-shadow: 4px 4px 14px 1px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
}

div.tooltip {
  position: absolute;
  text-align: left !important;
  padding: 6px;
  font: 13px sans-serif;
  background: rgba(176, 196, 222, 0.9);
  border: 0;
  box-shadow: 4px 4px 14px 1px;
  border-radius: 8px;
}

div.tooltip-info {
  text-align: center !important;
}

pre.tooltip-message {
  text-align: left !important;
}

.fakebox {
  display: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

#chart1 {
  display: block;
  margin: 0 auto;
}
